<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id = "app">
    <news></news>
    <board-list 
    v-if="listOk" 
    :board-list="boardList" 
    :board-list-title="boardListTitle"
    @board-write-form = "boardWriteForm"
    >
  </board-list> <!--이렇게 내려주는 속성은 프로퍼티라 부른다. props 라 부른다.-->
    <board-write-form v-if="writeOk"></board-write-form>
    <todo-app></todo-app>
  </div>

  <script type = "module">
    import TodoApp from './TodoApp.js';  // import 순서는 상관이 없다.
    
    import News from './News.js';

    import BoardList from './BoardList.js';

    import BoardWriteForm from './BoardWriteForm.js';


    new Vue({
      el:"#app",
      data:function(){
        return {
          listOk: true,
          writeOk:false,
          boardListTitle:"글목록",
          boardList:[
            {no:1,title:"aaa",writer:"a"},
            {no:2,title:"bbb",writer:"b"},
          ],
        };
      },
      components:{
        'news':News,  // 케밥 형식이 아닌 것은 쿼테이션 빼도 된다.
        "board-list":BoardList,
        "todo-app":TodoApp,
        "board-write-form":BoardWriteForm,
      },
      methods:{
        boardWriteForm(){
          this.listOk = false;
          this.writeOk = true;
        },
      },
    });
  </script>
  <style>
    .myBox{
      width: 300px;
      height: 200px;
      background-color: rgb(235, 10, 10);
      border: solid;
      border-radius: 8px;
      padding: 10px;
      margin: 10px;
    }
  </style>
</body>
</html>